<nav class="py-4 px-8 bg-red-600 text-white space-x-4 block">
  <a class="cursor-pointer" [routerLink]="['/']">Home</a>
  <a class="cursor-pointer" [routerLink]="['/new']">New</a>
  <a class="cursor-pointer" [routerLink]="['/show']">Show</a>
  <a class="cursor-pointer" [routerLink]="['/ask']">Ask</a>
  <a class="cursor-pointer" [routerLink]="['/jobs']">Jobs</a>
  <a
    href="https://angular.io"
    target="_blank"
    rel="noreferrer"
    class="inline-block float-right hidden sm:inline-block"
    >Built with Angular</a
  >
</nav>
